@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #764F93;
}

.subtitle {
  font-size: 26px;
  font-weight: bold;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* .App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.container {
  max-width: 300px;
  width: 100px;
  margin: 20px 5px;
  padding: 5px;
  border-radius: 20px; /* Rounded corners */
  background-color: #F8D8E5; /* Light pink background */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  text-align: center;
  border: 3px solid #f5bcc9; /* Inner border */
}

li {
  list-style-type: disc; 
  list-style-position: inside;
}
.timer-display h1 {
  font-size: 2.5rem; /* Larger font size */
  margin: 10px auto;
  color: #3c2453; /* Dark purple color */
  text-align: center;
}

.settings {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #3c2453; /* Dark purple color */
}

.setting-item {
  margin-bottom: 15px;
  text-align: left;
}

.setting-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #3c2453; /* Dark purple color */
}

.setting-item input[type="number"],
.setting-item input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  font-size: 1rem;
}

.setting-item div {
  display: flex;
  align-items: center;
}

.setting-item input[type="number"] {
  width: 60px;
  margin-right: 5px;
  text-align: center;
}

.setting-item span {
  font-size: 1.5rem;
  margin: 0 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.buttons button {
  padding: 5px;
  margin: 5px;
  font-size: 1rem; 
  border: 2px solid white;
  border-radius: 12px;
  background-color: transparent; /* Transparent background */
  color: #3c2453; /* Dark purple text */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Button shadow */
}

.buttons button:hover {
  background-color: #f5bcc9; /* Light pink on hover */
  color: #3c2453;
  transform: scale(1.05); /* Slight scale on hover */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* More intense shadow on hover */
}

.main-container {
  padding: 0;
  margin: 0;
  height: 100%;
  background: linear-gradient(180deg, #D7B6CF 0%, #8E69A2 78.64%, #764F93 100%);
}

div {
  margin: 0;
  padding:0
}