#background {
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}
#background, img{
    max-width: 100%;;
}
.title{
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.button{
    font-size: 30px;
    color: white;
    border: 3px solid white;
    border-radius: 4rem;
    padding: 10px 20px;
    margin-top: 0;
    display: inline-block;
}
.button:hover{
    background-color: white;
    box-shadow: 10 20 10 white;
    cursor: pointer;
    color: #B36FD4;
    transition: 0.4s ease-in-out;
}
.bringo{
    float: right;
    margin-right: 7%;
    margin-top: 10%;
    animation: animate 1s linear infinite;
}
@keyframes animate {
    0% {
        margin-top: 10%;
    }
    50% {
        margin-top: 12%;
    }
    100% {
        margin-top: 10%;
    }
}